<footer class="footer">
  <div class="footer__info">
    <div class="footer__info__icon">
      <a target="_blank" href="https://github.com/dumitory-dev">
        <img src="assets/icons/iconmonstr-github-1 1.svg" alt="github icon">
      </a>
    </div>
    <div class="footer__info__icon">
      <a target="_blank" href="https://www.linkedin.com/mwlite/in/dmitry-chegolya">
        <img src="assets/icons/iconmonstr-linkedin-3 1.svg" alt="linkedin icon"></a>
    </div>
    <div class="footer__info__author">dumitory</div>
  </div>

  <div class="footer__coffee-icon">
    <a href="https://www.buymeacoffee.com/dumitory"
       target="_blank">
      <img src="assets/icons/coffee.svg"
           alt="coffee icon">
    </a>
  </div>

</footer>
