<div class="error-alert">

  <div class="error-alert__icon">
    <div class="error-alert__icon__part">
      <img src="assets/icons/error-ccon.svg"
           alt="error icon">
    </div>
    <div class="error-alert__icon__text">
      {{alertLabel}}
    </div>
  </div>

  <div class="error-alert__main-text">
    <span>{{ error }}</span>
  </div>

  <div class="error-alert__button-wrapper">
    <app-button
      label="OK"
      [type]="buttonType.ALERT"
      (onClick)="closeAlert()"
    ></app-button>
  </div>

</div>
