$grayColor: #bcc1cf;
$accentBlue: #129afd;
$textPrimary: #101f46;
$grayFieldHover: #e6e6e6;
$accentDisabled: #d0dae0;
$grayField: #f3f3f3;
$accentBlueLight: #bbe2ff;
$white: #fff;
$grayBorder: #dadbde;
$accentHover: #097bcd;
$textSecondary: #737887;
$alertRed: #FD1212;
