<!--<app-error-alert [errorText$]="errorText$"-->
<!--                 [isActive]="!validFile"-->
<!--                 (onClose)="closeErrorHandler()">-->
<!--</app-error-alert>-->

<app-loader *ngIf="isFetching"></app-loader>

<app-success-message
  *ngIf="isSuccessConverted"
  [withButton]="true"
  (buttonClicked)="onSuccessMessageClose()"
  buttonLabel="Convert a new file">
</app-success-message>


<div class="main-form" *ngIf="validFile && !isSuccessConverted && !isFetching">

  <app-form-top-text>
    <div class="main-form__text-box" *ngIf="!file">
      <p class="main-form__text-box_part">Tool to pull <span class="main-form__text-box__color">pkcs7</span> from file.
      </p>
      <p class="main-form__text-box_part">Select a file to get started</p>
    </div>
    <div class="main-form__text-box" *ngIf="file">
      <p class="main-form__text-box_part">Select file type and click "Convert"</p>
    </div>
  </app-form-top-text>

  <div class="main-form__form-box">

    <form [formGroup]="form"
          class="main-form__form-box__form">

      <div class="main-form__form-box__form__input-box"
           appDnd
           (fileDropped)="onFileDropped($event)">

        <label class="main-form__form-box__form__input-box__custom-inp">

          <input type="file"
                 (change)="onFileSelected($event)"
                 [multiple]="false">

          <ng-template [ngIf]="!file">
            <img src="assets/icons/State=Default.svg"
                 alt="input icon state default">
            <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text">Choose a file</span>
          </ng-template>

          <ng-template [ngIf]="file">
            <img src="assets/icons/State=Downloaded.svg"
                 alt="input icon state default">
            <div class="placeholder-wrapper">
              <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text"
                    [title]="file?.name"
                    [class.valid-file]="validFile">{{ file?.name }}</span>
              <span class="main-form__form-box__form__input-box__custom-inp__placeholder-text file-size">
                  {{ fileSizeMB }} MB</span>
            </div>
          </ng-template>

        </label>

      </div>

      <div class="main-form__form-box__form__file-type-box">

        <div class="main-form__form-box__form__file-type-box__text">
          Choose type to convert:
        </div>

        <div class="main-form__form-box__form__file-type-box__radio-box">

          <app-radio-button label="DER"
                            [control]="exportFileTypeControl"
                            [exportFileTypes]="exportFileTypes.DER"></app-radio-button>
          <app-radio-button label="Binary"
                            [control]="exportFileTypeControl"
                            [exportFileTypes]="exportFileTypes.BINARY"></app-radio-button>

        </div>
      </div>

      <div class="main-form__form-box__form__button-box">

        <app-button
          label="Convert"
          [disabled]="form.invalid"
          (onClick)="convertFile()">
        </app-button>

      </div>

    </form>

  </div>

</div>
